<div class="checkin-component">
    <div class="header">
        {{header}}
    </div>
    <div class="content">
        <h2 class="title">{{title}}</h2>
        <hr class="divider" />
        <p class="paragraph">{{description}}</p>
        <form [formGroup]="retrieveBookingForm" novalidate (ngSubmit)="submitForm(retrieveBookingForm.value, retrieveBookingForm.valid)">
            <div class="form-group">
                <label>{{code}}</label>
                <input type="text" formControlName="code" #input (input)="input.value=$event.target.value.toUpperCase()">
                <div class="alert" [hidden]="retrieveBookingForm.controls.code.valid || (retrieveBookingForm.controls.code.pristine && !submitted)">
                    {{codeAlert}}
                </div>
            </div>
            <div class="form-group">
                <label>{{familyName}}</label>
                <input type="text" formControlName="familyName">
                <div class="alert" [hidden]="retrieveBookingForm.controls.familyName.valid || (retrieveBookingForm.controls.familyName.pristine && !submitted)">
                    {{familyNameAlert}}
                </div>
            </div>
            <div class="btn-group">
                <button class="btn" name="submit">{{submit}}</button>
            </div>
        </form>
    </div>
</div>
<!--I included here binding the event to parent componenet.-->
<app-booking-details [hidden]="hideBookingDetails" (onDetailsHide)="onDetailsHide($event)"></app-booking-details>